<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>kching: Your No. 1 partner for better financial</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/5b4025bff4.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>

<body>
<div id="wrap">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <img src="http://i.imgur.com/6goJgWw.png" style="width: 230px" alt="logo"></a>
        </div>
      </div>
    </nav>

    <!-- main -->
    <main id="site-main">
        <div class="container">
            <%- body %>
        </div>
    </main>
</div>

    <!-- footer -->
    <footer>
        Copyright &copy; 2016 Tevinstein
    </footer>
</body>

</html>
