html {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

body {
    background: rgba(27, 34, 50, 1);
    background: -moz-linear-gradient(-45deg, rgba(27, 34, 50, 1) 0%, rgba(51, 66, 87, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(27, 34, 50, 1)), color-stop(100%, rgba(51, 66, 87, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(27, 34, 50, 1) 0%, rgba(51, 66, 87, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(27, 34, 50, 1) 0%, rgba(51, 66, 87, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(27, 34, 50, 1) 0%, rgba(51, 66, 87, 1) 100%);
    background: linear-gradient(135deg, rgba(27, 34, 50, 1) 0%, rgba(51, 66, 87, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1b2232', endColorstr='#334257', GradientType=1);
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-size: 17px;
}

.navbar {
    background: rgba(255, 0, 0, 0);
    padding: 10px 0;
    border: 0px;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(255, 0, 0, 0);
    color: #fff;
}

.jumbotron {
    margin-bottom: 0;
    background: #ffffff;
}


textarea {
    resize: none;
    width: 100%;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

.well {
    margin: 30px 0;
    background-color: #101823;
    border: 0px;
}

.well-lg {
  border-radius: 0px;
}

.list-group .list-group-item {
    padding: 40px 0;
    background: #101823;
}

.panel {
  border: 0px;
}

.question-content {
    padding: 30px 0 0 0;
}

.form-control {
    background-color: rgba(83, 83, 83, 0.4);
    border: 0px;
    color: #f3f3f3;
    padding: 20px;
}

.btn {
  border-radius: 0px !important;
}

#ui-datepicker-div {
    background: #1c2534;
    padding: 20px;
}