<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <% if (errors.length > 0) { %>
             <div class="alert alert-danger">
                 <% for (error of errors) { %>
                     <%= error %><br>
                 <% } %>
             </div>
         <% } %>

        <form action="/datas/<%= currentid %>/add" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Category</label>
                <input type="text" name="category" class="form-control">
            </div>

            <div class="form-group">
                <label>Date</label>
                <input type="text" name="date" id="datepicker" class="form-control">
            </div>

            <div class="form-group">
                <label>Cost</label>
                <input type="text" name="cost" class="form-control">
            </div>

            <div class="form-group">
                <label>Picture</label>
                <input type="file" name="upl" class="form-control">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Add Expense</button>
                <a href="/datas/<%= currentid %>" class="btn btn-lg btn-default">Back</a>
            </div>

        </form>

    </div>
</div>
